@import url(../style.css);

* {
	margin: 0;
	padding: 0;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

h4 {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	/* 	margin-inline-end: 0px; */
	font-weight: bold;
}

.profile_b {
	margin-top: 57px;
	background-color: rgba(240, 240, 240, 0.8);
	padding-bottom: 40px;
	padding-top: 20px;
}

.text-center {
	text-align: center !important;
}

.my-5 {
	margin-top: 3rem !important;
	margin-bottom: 1rem !important;
}

.myPageImg {
	width: 200px;
	height: 100%;
}

.myPageImgBox {
	border-radius: 50%;
	overflow: hidden;
	width: 200px;
	height: 200px;
	background-color: rgba(51, 51, 51, 0.2);
	margin-bottom: 20px;
	margin-top: 20px;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.4);
}

.myPageImgBox:hover {
	box-shadow: 2px 2.5px 6px rgba(51, 51, 51, 0.6);
	transition: all 2s;
}

.myPage_infoBox {
	display: flex;
	justify-content: center;
}

.myPage_infoBox .info {
	display: flex;
	background-color: white;
	width: 500px;
	height: 100px;
	border-radius: 15px;
}

.review_list_container {
	background-color: #fff;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 15px;
	margin: 35px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.li_userReviews {
	padding: 1.5rem 0 1.4rem;
	height: 4.8rem;
}

.li_title {
	padding-left: 10px;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.9rem;
	color: #1a1a1a;
}

.li_item {
	border-bottom: 0.1rem solid #f2f2f2;
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
	font-size: 1.1rem;
	font-weight: 700;
}

.li_item_a {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-items: center;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}

.li_item_img {
	border-radius: 50%;
	width: 5.4rem;
	height: 5.4rem;
	margin-right: 1rem;
}

.li_item_imgBox {
	border-radius: 50%;
	width: 5.4rem;
	height: 5.4rem;
	margin-right: 1rem;
}

.li_t_wrap {
	flex: 1 1;
	overflow: hidden;
}

.li_item_t {
	font-size: 1rem;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.6rem;
}

.li_item_d {
	font-size: 0.8rem;
	font-weight: 400;
	color: #616161;
	margin-top: 0.2rem;
	max-height: 2.4rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.logged_cnt_box {
	display: block;
	float: left;
	text-align: center; min-width : 150px;
	padding-top: 20px;
	min-width: 150px;
}

.logged_line {
	margin-top: 20px;
	float: left;
	width: 1px;
	height: 50px;
	background: #dbdbdb;
	margin-left: 10px;
	margin-right: 10px;
}

.logged_cnt_box b {
	font-size: 13px;
	color: rgba(51, 51, 51, 0.8);
	display: block;
	padding-bottom: 10px;
	font-weight: normal;
}

.logged_cnt_box span {
	color: rgba(245, 161, 25, 0.9);
	font-size: 16px;
}

#likes_btn {
	cursor: pointer;
}

.logged_btn {
	text-align: center;
	display: inline-block;
	color: #808080;
	font-size: 13px;
	margin-left: 10px;
	margin-right: 10px;
}

.logged_btn_ico {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #f49600;
	margin: 0 auto;
	margin-bottom: 10px;
}

.page.logged_box {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TabOverview_icon__3umjF {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	color: #919191;
}

.Icon_icon__2BP_o>svg {
	display: block;
	fill: currentColor;
	fill-rule: evenodd;
}

.myPageEditWrap {
	display: flex;
	justify-content: center;
}

.myPageEditWrap .myPageEditBtns {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.myPageEditBtns button {
	width: 150px;
	margin-left: 20px;
	line-height: 2;
	background-color: transparent;
	cursor: pointer;
	color: rgba(51, 51, 51, 0.8);
}

.myPageEditBtns button:first-child {
	margin-top: 40px;
}

.pagination {
	margin-top: 40px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.pagination li {
	margin: 0px 10px;
	line-height: 40px;
	display: inline-block;
	height: 40px;
	width: 50px;
	text-align: center;
	border-radius: 5px;
	color: rgba(51, 51, 51, 1);
	border: 2px solid transparent;
	background-color: rgba(51, 51, 51, 0.3);
}

.pagination li:hover {
	background-color: rgba(51, 51, 51, 1);
	color: #fff;
}

.pagination .Page-item-active {
	background-color: rgba(51, 51, 51, 1);
	color: #fff;
}

.pagination .btnPrv {
	margin-right: 20px;
}

.pagination .btnNxt {
	margin-left: 20px;
}

/* 모달 css 시작 */
.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal_group_box {
	display: flex;
	justify-content: center;
	background: white;
	box-shadow: 0 8px 32px 0 #D0CECE;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 300px;
	height: auto;
	position: relative;
	top: -100px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.list-group {
	text-align: center;
	background-color: white;
	width: 98%;
	height: 98%;
	border-radius: 10px;
}

.userimg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.list-group-item {
	display: flex;
	justify-content: space-between;
	padding : 8px;
	cursor: pointer;
	height: auto;
	width: 280px;
}

.item-label {
	display: block;
	text-align: left;
	width: 150px;
}

.item-username {
	margin-block-start: 1em;
    margin-block-end: 1em;
	cursor: pointer;
}
.list-group-div {
	margin-top: 15px;
	border-bottom: 1px solid rgba(51, 51, 51, 0.8);
	border-top: 1px solid rgba(51, 51, 51, 0.8);
}
.list-group-a {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
}

.list-group-item:hover {
	background-color: #F2F2F2;
	border-color: #D8D8D8;
}

.page-link {
	display: inline-block;
	cursor: pointer;
}

.modal-title {
	font-weight: normal;
	font-family: inherit;
	font-size: 15px;
}

.item-arrow-img {
	margin-block-start: 1em;
    margin-block-end: 1em;
	width: 20px;
	height: 20px;
}

/* 모달 css 끝 */