* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  width: 100%;
  height: 100vh;
  user-select: none;
}
.mWrap {
  width: 500px;
  height: 330px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: rgba(245, 161, 25, 0.9);
}

.formRow1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.formRow1 input {
  width: 300px;
  height: 20px;
  margin-bottom: 36px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid rgba(3, 3, 3, 0.4);
  font-size: 11px;
  text-indent: 3px;
  background-color: transparent;
  color: rgba(3, 3, 3, 0.4);
}
.formRow2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.formRow2 .btn_join {
  width: 280px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  /* background-color: #f5a119;
  opacity: 0.9; */
  background-color: rgba(245, 161, 25, 0.9);
}
.formRow2 .btn_join:hover {
  cursor: pointer;
}

footer {
}
.fWrap {
  padding-top: 10px;
  font-size: 10px;
  text-align: center;
  color: rgba(3, 3, 3, 0.6);
  line-height: 1.8;
}
.fWrap p:nth-child(2) {
}

.fWrap {
  width: 500px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.con p {
  text-align: center;
  font-size: 11px;
  color: rgba(3, 3, 3, 0.6);
  padding-top: 30px;
}
.con p a {
  color: rgba(245, 161, 25, 0.9);
}
.con p a:hover {
  text-decoration: underline;
}
