body {
	
}


.list-header {
	background-color: white; display : block;
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
	display: block;
}

.list-header-content {
	padding-top: 2.5rem;
	padding-right: 2.5rem !important;
	padding-left: 2.5rem !important;
}

.container-box {
	position:relative;
	display: flex;
	justify-content: center;
	width: 1013px;
	height:350px;
	margin-right: auto;
	margin-left: auto;
}

.row-center {
	position: absolute;
 	animation: header-ani;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	width: 1000px;
	height: 300px;
	display: flex;
	border-radius: 10px;
	background-color: white;
	justify-content: center;
}

.list-header-txtbox {
	width: 380px;
	margin-right: 100px;	
}

.list-header-title {
	position: static;
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.list-header-text {
	min-width: 300px;
	font-size: 1.15rem;
	color: #69707a;
	margin-bottom: 2.5rem;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.list-header-img-box {
	width: 300px;
	height: 300px;
	transform: translateZ(0);
	transition-delay: 50ms;
}

.list-header-img {
	width: 300px;
	height: 300px;
}

.list-header-btn {
	
}
.svg-border-rounded {
    box-sizing: border-box;
}

.svg {
	position: absolute;
    bottom: 0;
    left: 0;
	height: 4rem;
	width: 100%;
}

.list-body-sec {
	background-color: #E0E0E0;
	padding-top: 6rem!important;
    padding-bottom: 6rem!important;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.list-body-box {
	width: 60%;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
  	grid-gap: 40px;
  	grid-auto-rows: minmax(100px, auto);
}
.list-body-container {
	width: 100%;
	margin-right: auto;
    margin-left: auto;
    max-width: 360px;;
    display: block;
}

.list-body-title {
	margin-bottom: 1rem!important;
	font-size: 1rem;
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
    display: block;
    text-align: center!important;
}

.list-body-a {
	padding: 5px;
	width: 350px;
	height: 250px;
	background-color: white;
	box-shadow: 0 0.15rem 1.75rem #21283226;
    border-radius: 0.5rem!important;
    display: block!important;
    color: #0061f2;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.list-body-img {
	width: 100%;
	height: 100%
}

.list-body-a:hover {
	animation: box-ani 0.5s linear forwards;
}

.pasination-box {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #E0E0E0; 
}

.pagination {
	display: flex;
}

.page-item {
	background-color: white;
	cursor: pointer;
	text-align: center;
	width: 50px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-right: 10px; 
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

@keyframes box-ani {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0, -10px);
	}
}

@keyframes header-ani{
    0%{
        top: 200px;opacity: 0;
    }
    5%{}
    10%{}
    15%{}
    20%{}
    25%{top:150px;opacity: 0.1;}
    30%{}
    30.1111%{}
    
    40%{}
    45%{}
    50%{top:100px;opacity: 0.2;}
    55%{}
    60%{}
    65%{}
    70%{}
    70.1111%{}
    75%{top:50px;opacity: 0.4;}
    80%{}
    80.1111%{}
    85%{}
    90%{opacity: 0.6}
    95%{}
    100%{top:0px;opacity: 1;}
}
