* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
}
.hWrap {
  width: 1092px;
  height: 57px;

  margin-left: auto;
  margin-right: auto;

  position: relative;
}
h1 {
  color: rgba(245, 161, 25, 0.9);
  position: absolute;
  padding-top: 10px;
}
.gnb {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  padding-top: 20px;
  margin-left: 200px;
}
.gnb li {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: bold;
  color: #363636;
}
.util {
  display: flex;
  position: absolute;

  right: 0;
  margin-top: 15px;
}
.util form {
  position: relative;
}
.util form input {
  width: 143px;
  height: 26px;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 26px;
}
.util form button {
  /*transform: scale(0.6);*/

  border-radius: 5px;
  border: 0;
  background-color: transparent;
  width: 26px;
  height: 26px;

  position: absolute;
  top: 2.5px;
  right: 0;
}
.login,
.join {
  width: 64px;
  height: 28px;
  border: transparent;
  border-left: 0;
  color: #fff;
  border-radius: 5px;
}
.util .login {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f9bb57;
}
.join {
  background-color: #f9bb57;
}

.mainBn {
  height: 454px;
  background-image: url(../images/mainpage/key_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bnWrap {
  width: 1092px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.bnWrap h2,
.tit,
.city,
.map {
  color: white;
}
h2 {
  padding-top: 80px;
  font-size: 40px;
  font-weight: bold;
}
.bnWrap h2 span {
  color: #333;
}

.tit {
  font-size: 24px;
  margin-top: 20px;
}
.srchBox {
  width: 560px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px;
  padding-bottom: 0px;
  border-radius: 5px;
}
.srchBox .srch2 {
  position: relative;
}
.srchBox .srch2 input {
  width: 560px;
  height: 50px;
}
.Q2 {
  position: absolute;
  right: 0px;
  top: 2px;
  border: 0;
  background-color: transparent;
}
.keyword {
  display: flex;
  justify-content: space-between; /*여백 글자사이에 몰빵*/
  font-size: 14px;
  color: #fff;
  margin-top: 8px;
}

.keyword a:hover {
  text-decoration: underline;
}
.map a:after {
  content: ">";
}
/*----------------------------------sec1-------------------------------------------------------------------------------*/
.secWrap {
  width: 1092px;

  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.sec1 h3 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
}
.sec1 h3 span {
  color: rgba(245, 161, 25, 0.9);
}
.sec1 .con {
  display: flex;
  justify-content: space-evenly;
}
.sec1 h4 {
  color: #333;
  font-size: 18px;

  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1; /*글자에 딱 맞게 라인하이트.*/
}
.sec1 p {
  text-align: left;
}
.sec1 h5 {
  font-size: 14px;
  color: rgba(245, 161, 25, 0.9);
  margin-top: 25px;
  margin-bottom: 70px;
}
.sec1 h5:hover {
  text-decoration: underline;
}
.sec1 .box p {
  text-align: center;
  line-height: 1.5;
}

.sec1 .box img {
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}

.sec1 .box:hover img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

/*-------------------------------------------------sec2시작-----------------------------------------------------------------------*/
.sec2 {
  background-color: #f0f0f0;
  padding-bottom: 70px;
}
.sec2 h3 {
  line-height: 1;
  padding-top: 70px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #333;
}
.sec2 .tit {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1;
}

.sec2 .row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec2 .row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec2 .box {
  background-color: silver;
  margin-bottom: 24px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #f0f0f0;
}
.sec2 .box .ImgBox {
  width: 346px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.sec2 .box .ImgBox img {
  width: 346px;
  height: 200px;
}
.sec2 .box .ImgBox:hover img {
  transform: scale(1.5);
  transition: all 2s;
}

.sec2 .txt {
  height: 48px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(transparent, black);
  /*
    @ background그라데이션 넣기
    - background-image
    - 속성값이
     @ linear-gradient()
     @ radial-gradient()

     @ linear-gradient(to right, red, green)
     to right, to left, to top, to bottom

     @ linear-gradient(45deg, red, green
     -> 45도로 넣기
    */
  box-sizing: border-box;
  /*패딩과 보더가 박스 안에서 생겨남.*/
}
.sec2 .box .txt h4 {
  color: rgba(245, 161, 25, 0.9);
}
.sec2 .box .txt h4 span {
  color: #999;
}
.sec2 .box .txt p {
  color: white;
}
.sec2 .data {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-align: left;
}
.sec2 .data .info {
}
.sec2 .data .info .placeName {
  margin-top: 6px;
  margin-bottom: 6px;
}
.userName {
  background-image: url(../images/mainpage/icon_user.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: contain;
  padding-left: 25px;
  line-height: 1;
}
.count {
  display: flex;
  justify-content: center;
}
.count .view {
  margin: 0 10px;
}
.count .location {
  background-image: url(../images/mainpage/icon_spot.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  padding-left: 20px;
  line-height: 1;
}
.count .view {
  background-image: url(../images/mainpage/icon_view.png);
  background-repeat: no-repeat;
  background-position: 0 3px;

  padding-left: 20px;
  line-height: 1;
}
.count .copy {
  background-image: url(../images/mainpage/icon_copy.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  padding-left: 20px;
  line-height: 1;
}
.sec2 .more {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  width: 346px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  color: #666;
  border-radius: 5px;
}
/*-------------------------------sec3시작-----------------------------------------------------------------------------------------*/
.sec3 h4 {
  padding-top: 70px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #333;
}
.sec3 .tit {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}
.sec3 .row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}
.sec3 .row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec3 .box {
  height: 310px;
  width: 261px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.sec3 .box:hover img {
  transform: scale(1.2);
  transition: all 3s;
}
.sec3 .tipImg {
  width: 100%;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.sec3 .tipImg img {
  width: 100%;
  height: 160px;
}
.sec3 .big {
  width: 538px;
}
.sec3 .box .tipImg .spot_cnt {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-image: url(../images/mainpage/spot_cnt.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  /*padding-bottom 줘도 백그라운드 이미지 올라감 */
  padding-left: 15px;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 1;
}

.sec3 .txt h5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.sec3 .txt p {
  font-size: 14px;
  color: #666;
  padding: 0 20px;
}
.sec3 .more {
  border: 1px solid #ccc;
  width: 346px;
  font-size: 14px;
  color: #666;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 70px;
  margin-top: 24px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
.sec4 {
  margin-bottom: 70px;
}
.sec4 .secWrap {
}
.sec4 h4 {
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
}
.sec4 .row1,
.row2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec4 .box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  overflow: hidden;
}
.sec4 .cityName {
  color: white;
  /*padding-top: 120px;*/
  height: 100%;
  line-height: 260px; /*글자 y축 가운데정렬*/

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.sec4 .high .cityName {
  line-height: 538px;
}

.sec4 .row1 .box a {
  display: block;
  width: 260px;
  height: 260px;
}
.sec4 .row1 .box1 a {
  width: 538px;
}
.sec4 .row2 .box a {
  display: block;
  width: 260px;
  height: 260px;
}
.sec4 .row2 .col4 a {
  height: 538px;
}
.sec4 .row1 {
  margin-bottom: 17px;
}
.sec4 .row2 .col .box1_2,
.box2_2,
.box3_2 {
  margin-top: 17px;
}
.sec4 .box1 {
  background-image: url(../images/mainpage/city01.jpg);
}
.sec4 .box2 {
  background-image: url(../images/mainpage/city02.jpg);
}
.sec4 .box3 {
  background-image: url(../images/mainpage/city03.jpg);
}
.sec4 .box1_1 {
  background-image: url(../images/mainpage/city04.jpg);
}
.sec4 .box2_1 {
  background-image: url(../images/mainpage/city05.jpg);
}
.sec4 .box3_1 {
  background-image: url(../images/mainpage/city06.jpg);
}
.sec4 .high {
  background-image: url(../images/mainpage/city07.jpg);
}

.sec4 .box1_2 {
  background-image: url(../images/mainpage/city08.jpg);
}
.sec4 .box2_2 {
  background-image: url(../images/mainpage/city09.jpg);
}
.sec4 .box3_2 {
  background-image: url(../images/mainpage/city10.jpg);
}

/*----------------------------------------sec5------------------------------------------------*/
.sec5 {
  background-image: url(../images/mainpage/mobile_bg.png);
  background-size: cover;
  background-position: center center;
}
.sec5Wrap {
  display: flex;
  justify-content: space-between;
}
.sec5 .box {
  padding-top: 70px;
}
.sec5 p {
  text-align: left;
}
.blue {
  color: #179dff;
  font-size: 20px;
  margin-bottom: 15px;
}
.sec5txt {
  color: #363c48;
  margin-bottom: 40px;
}
.mbstr {
  display: flex;
  justify-content: start;
}
.mbstr img {
  margin-right: 10px;
}

/*--------------------------------------footer------------------------------------------------*/
footer {
  background-color: #363c48;
}
.fWrap {
  width: 1092px;
  margin-right: auto;
  margin-left: auto;
}
.ftrow1 {
  display: flex;
  justify-content: space-between;
}
.ftrow1 .box {
  width: 260px;

  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
  box-sizing: border-box;
}
.fWrap h4 {
  font-size: 16px;
  color: #ccc;
  border-bottom: 1px solid #424753;
  line-height: 2;
  margin-bottom: 17px;
}
.fWrap li {
  line-height: 1.5;
}

.icon {
  display: flex;
  margin-top: 50px;
}
.ico1 {
  margin-right: 10px;
}
.ftrow2 {
  display: flex;
  justify-content: space-between;

  color: white;
  line-height: 2;
}

.footerbottom {
  border-top: 1px solid #424753;
  background-color: rgba(0, 0, 0, 0.2);
}

/* select 쓰지마

.opt select{
width: 113px;

margin-top: 30px;
background-color: transparent;
border-radius: 0;
border: 1px solid #424753;
color: #ccc;
font-size: 16px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
}
.opt .select1{
   margin-right: 10px;
}*/
footer .con_lang {
  display: flex;
}

footer .box .lang,
.currency {
  width: 113px;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #424753;
  color: #ccc;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-image: url(../images/mainpage/arr_sel.png);
  background-repeat: no-repeat;

  background-position: center;
  box-sizing: border-box;
  background-position-x: 90px;
  line-height: 30px;
}

.lang {
  position: relative;
}
.con_lang .lang {
  margin-right: 10px;
}
.langPop {
  list-style: none;
  border: 1px solid #424753;
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
  background-color: #363c48;
  display: none; /*숨김처리*/
}

langPop li {
  border-bottom: 1px solid #424753;
}

footer .box  .lang, .currency{
 
    
    width: 113px;
    margin-top: 30px;
background-color: transparent;
border-radius: 0;
border: 1px solid #424753;
color: #ccc;
font-size: 16px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
background-image: url(../images/mainpage/arr_sel.png);
background-repeat: no-repeat;

background-position: center;
box-sizing: border-box;
background-position-x: 90px;
line-height: 30px;

}

.lang{
    position: relative;
}
.con_lang .lang{
    margin-right: 10px;
 }
 .langPop{
     list-style: none;
     border: 1px solid #424753;
     position: absolute;
     top: 31px;
     left: 0;
     width: 100%;
     background-color: #363c48;
     display:none;/*숨김처리*/

 }
 

 langPop li{
     border-bottom: 1px solid #424753;
 }
 
  .wrap {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.wrap.logged{
	background:white;
	border:1px solid #e4e4e4;
	padding:15px 20px 15px 20px;

}	
.logged_user_img{
	float:left;
	width:70px;
	height:70px;
	border-radius:50%;
	margin-top:7px;
}

.logged_left{
	float:left;
	width:720px;
	height:100%;
	margin-left:15px;
}

.logged_name{
	font-size:16px;
	color:#555555;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:12px;
}

.logged_cnt_box{
	display:block;
	float:left;
	text-align:center;
	min-width:46px;
}

.logged_line{
	float:left;
	width:1px;
	height:30px;
	background:#dbdbdb;
	margin-left:10px;
	margin-right:10px;
}

.logged_cnt_box b{
	font-size:13px;
	color:#555555;
	display:block;
	padding-bottom:10px;
}

.logged_cnt_box span{
	color:#49b2e9;
	font-size:13px;
}

.logged_btn{
	text-align:center;
	display:inline-block;
	color:#808080;
	font-size:13px;
	margin-left:10px;
	margin-right:10px;
}

.logged_btn_ico{
	width:60px;
	height:60px;
	border-radius:50%;
	background:#f49600;
	margin:0 auto;
	margin-bottom:10px;
}

.page.logged_box {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page.silver {
    background: #f6f6f6;
}

.page {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.clear {
    clear: both;
}

header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.review_search {
	width: 100%;
	height: 200px;
	background: #f6f6f6;	
}

