* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  background-color: rgba(253, 253, 253, 0.7);
  /*mix-blend-mode: screen;*/
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  z-index: 99;
  box-shadow: 1px 2px 5px rgba(51, 51, 51, 0.2);
}

.hWrap {
  width: 1092px;
  height: 57px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1 {
  /* 	color: #66B2FF; */
  /*  color: rgba(20,73,98,0.9); */
  color: rgba(6, 47, 74, 0.9);
  position: absolute;
  padding-top: 0px;
}

.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 15px;
  margin-left: 200px;
}

.gnb li {
  font-weight: bold;
  color: rgba(51, 51, 51, 0.8);
}

.admin_submenu li:hover {
  color: rgba(6, 47, 74, 0.9);
}

.util {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.util form {
  position: relative;
}

.admin_mainmenu {
  margin-left: 15px;
  text-align: center;
  display: block;
  width: 150px;
}

.admin_submenu {
  /* background-color: #BEBEBF; */
  padding-top: 5px;
  width: inherit;
  text-align: center;
  position: absolute;
  display: none;
  width: inherit;
}

.admin_submenu > li {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  width: inherit;
  padding: 2px;
  color: rgba(51, 51, 51, 0.8);
  font-size: 17px;
  cursor: pointer;
  height: 30px;
}

.admin_mainmenu:hover .admin_submenu {
  display: block;
}

.admin_submenu:hover .admin_submenu {
  display: block;
}

.best_reviewer_icon {
  width: 20px;
  height: 20px;
}

.logged_plan {
  cursor: pointer;
}

.util form button {
  /*transform: scale(0.6);*/
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: 13px;
}

.headerBtn {
  width: 64px;
  height: 26px;
  border: transparent;
  color: rgba(51, 51, 51, 0.75);
  background-color: transparent;
}

.headerBtn:hover {
  color: rgba(51, 51, 51, 1);
}

.util .loginBtn,
.myPageBtn {
  margin-left: 10px;
  margin-right: 10px;
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.7);
}

.fWrap {
  width: 1092px;
  margin-right: auto;
  margin-left: auto;
}

.ftrow1 {
  display: flex;
  justify-content: space-between;
}

.ftrow1 .box {
  width: 260px;
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
  box-sizing: border-box;
}

.fWrap h4 {
  font-size: 16px;
  color: #ccc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 2;
  margin-bottom: 17px;
}

.fWrap li {
  line-height: 1.5;
}

.icon {
  display: flex;
  margin-top: 50px;
}

.ico1 {
  margin-right: 10px;
}

.ftrow2 {
  display: flex;
  justify-content: space-between;
  color: white;
  line-height: 2;
}

.footerbottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

.opt select {
  width: 113px;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #424753;
  color: #ccc;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.opt .select1 {
  margin-right: 10px;
}

.mainbox {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1000px;
  height: 800px;
}
.t_box {
  animation: title-ani;
  animation-duration: 1s;
  animation-timing-function: linear;
  padding-top: 30px;
  height: 250px;
  text-align: center;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: rgba(6, 47, 74, 0.9);
}
.title:first-child{
	margin-top:120px;
}

.b_box {
  position: absolute;
  animation: btn-ani;
  animation-duration: 0.5s;
  animation-timing-function: linear;
margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  height: 250px;
}

.btnForm {
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  width: 200px;
  height: 90px;
  color: rgba(255,255,255,1);
  letter-spacing: 3px;
  background-color: rgba(6, 47, 74, 0.9);
  position: relative;

  
  
}
.btnForm p{
	position: absolute;
	top:25px;
	left: 50%;
	transform:translateX(-50%);
	width: 100%;
	}



@keyframes title-ani {
  0% {
    top: 200px;
    opacity: 0;
  }
  5% {
  }
  10% {
  }
  15% {
  }
  20% {
  }
  25% {
    top: 150px;
    opacity: 0.1;
  }
  30% {
  }
  30.1111% {
  }

  40% {
  }
  45% {
  }
  50% {
    top: 100px;
    opacity: 0.2;
  }
  55% {
  }
  60% {
  }
  65% {
  }
  70% {
  }
  70.1111% {
  }
  75% {
    top: 50px;
    opacity: 0.4;
  }
  80% {
  }
  80.1111% {
  }
  85% {
  }
  90% {
    opacity: 0.6;
  }
  95% {
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes btn-ani {
  0% {
    top: 600px;
    opacity: 0;
  }
  5% {
    top: 587px;
  }
  10% {
    top: 574px;
  }
  15% {
    top: 561px;
    opacity: 0.2;
  }
  20% {
    top: 548px;
  }
  25% {
    top: 536px;
  }
  30% {
    top: 522px;
  }
  30.1111% {
    top: 509px;
  }

  40% {
    top: 496px;
  }
  45% {
    top: 483px;
    opacity: 0.3;
  }
  50% {
    top: 470px;
  }
  55% {
    top: 457px;
  }
  60% {
    top: 444px;
  }
  65% {
    top: 431px;
  }
  70% {
    top: 418px;
  }
  70.1111% {
    top: 405px;
  }
  75% {
    top: 392px;
    opacity: 0.4;
  }
  80% {
    top: 379px;
  }
  80.1111% {
    top: 366px;
  }
  85% {
    top: 350px;
  }
  90% {
    top: 334px;
    opacity: 0.6;
  }
  95% {
    top: 318px;
  }
  100% {
    top: 300px;
    opacity: 1;
  }
}

.arrowBtn{
	position: absolute;
	bottom:15px;
	left:50%;
	transform: translate(-100%);
    color:  rgba(255,255,255,0.6);
    font-size:20px;
    width: 30px;
    background-color: rgba(255,255,255);

}
.arrowBtn a{
    display: flex;
    justify-content: center;
}
.arrowBtn i{
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: btnanim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1.5s;

}
@keyframes btnanim{
    0%{left:0;
        opacity: 0.6;}
    100%{
        left: 50px;
        opacity:0;
        transform: scale(1.2);
    }
}
.btn1{
    animation-delay: 0;
}
.btn2{
    animation-delay: 0.5s;
}
.btn3{
    animation-delay: 1s;
}