* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	font-style: none;
}

.adD_mWrap {
	width: 1092px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

.adD_mWrap .srchBox {
	width: 560px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 20px;
	padding-bottom: 0px;
	border-radius: 5px;
}

.adD_mWrap .searchInfo {
	position: relative;
}

.adD_mWrap .srchBox .adD_srch input {
	width: 560px;
	height: 50px;
	text-indent: 10px;
}

.adD_mWrap .adD_srch_btn {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
	border: 0;
	background-color: transparent;
}

.adD_mWrap .adD_srch_btn img {
	width: 40px;
	height: 40px;
}

.adD_mWrap .words {
	margin-top: 5px;
}

/* ///////////////////////////*/
.adD_tbl {
	margin-top: 20px;
	width: 800px;
	height: auto;
	/*	background-color: rgba(0, 0, 0, 0.7);*/
	background-color: transparent;
	border: 2px solid rgba(0, 0, 0, 0.7);
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	table-layout: fixed;
			user-select: none;
}

.adD_tbl_thead {
	line-height: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	line-height: 50px;
}

.adD_tbl_coloumnName {
	border: 0px solid rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 20px;
	letter-spacing: 5px;
	color: rgba(253, 253, 253, 0.7);
}

.cN1 {
	width: 20%;
}

.cN2 {
	width: 70%;
}

.adD_listColumn {
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 40px;
	line-height: 40px;
	overflow: hidden;

}

.adD_listColumn1, .adD_listColumn2 {
	padding-left: 20px;
	padding-right: 20px;
}

.adD_listColumn>button {
	background-color: transparent;
	border: 0px solid #ccc;
	cursor: pointer;
	width: 100%;
	height: 40px;

	
}

.adD_srcList_item:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
/* .adD_listColumn>button:active{ */
/* 	color: rgba(253,253,253,0.9); */
/* 	background-color: rgba(0, 0, 0, 0.5); */
/* } */
.adD_bottomWrap {
	width: 800px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: right;
	padding-top: 30px;
	box-sizing: border-box;
}

.adD_bottomWrap .adD_btnSubmit {
	font-size: 18px;
	width: 300px;
	height: 40px;
	letter-spacing: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	cursor: pointer;
	border: 0px;
	color: rgba(253, 253, 253, 0.9);
}